.calculator {
    margin: 0 auto;
    background: white;
    border-radius: 0.2em;
    padding: 2em;
    color: grey;
    max-width: 30em;
}

.calculator__reminder {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
}

.calculator__input-wrapper {
    overflow: hidden;
}

.calculator__data {
    border-top: 1px solid grey;
    padding-top: 2em;
    margin-top: 2em;
}

.calculator__input {
    border-radius: .2em;
    font-size: 1em;
    line-height: 1;
    height: 3em;
    background: white;
    box-sizing: border-box;
    display: block;
    padding: 1em;
    width: 100%;
    border: none;
    box-shadow: 0 0 0 1px inset grey;
    transition: box-shadow .3s ease-in-out;
}

.calculator__input--amount {
    width: calc(100% - 8em);
    float: left;
}

.calculator__input--currency {
    width: 7em;
    float: right;
}

.calculator__input:focus {
    outline: none;
    box-shadow: 0 0 0 2px inset grey;    
}

.calculator__label {
    display: block;
    font-weight: bold;
    margin-bottom: .5em;
}

.calculator__amount {
    color: black;
    margin: 0;
}

.calculator__block {
    margin-bottom: 1em;
    overflow: hidden;
}

.calculator__block:last-child {
    margin-bottom: 0;
}